<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Predictions</title>
  <link rel="icon" href="../static/img/logo.jpg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Movie Rating Predictions</h1>      
    <p>Powered by Machine Learning</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Current Movies</a></li>
        <li><a href="/mock/">Predict Movie</a></li>
        <li><a href="#">Visualizations</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ movies[0]['title'] }}</div>
        <div class="panel-body"><img src={{ movies[0]['image_url'] }} class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Predicted Rating: {{movies[0]['predicted_rating']}} IMDB Rating: {{movies[0]['rating']}}</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ movies[1]['title'] }}</div>
        <div class="panel-body"><img src={{ movies[1]['image_url'] }} class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Predicted Rating: {{movies[1]['predicted_rating']}} IMDB Rating: {{movies[1]['rating']}}</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">{{ movies[2]['title'] }}</div>
        <div class="panel-body"><img src={{ movies[2]['image_url'] }} class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Predicted Rating: {{movies[2]['predicted_rating']}} IMDB Rating: {{movies[2]['rating']}}</div>
      </div>
    </div>
  </div>
</div><br>

</body>
</html>