<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Predictions</title>
  <link rel="icon" href="../static/img/logo.png">
  <link rel="icon" href="../static/img/logo.jpg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Movie Rating Predictions</h1>      
    <p>Powered by Machine Learning</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Current Movies</a></li>
        <li><a href="/mock/">Predict Movie</a></li>
        <li class="active"><a href="/visuals">Visualizations</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Original Title vs. Avg Vote</div>
        <div class="panel-body"><img src="../static/img/AVG vote vs Original Title.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Description</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Year vs. Budget</div>
        <div class="panel-body"><img src="../static/img/Budget vs Year.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Description</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Genre vs. US Income</div>
        <div class="panel-body"><img src="../static/img/US Income vs Genre.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Description</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Original Title vs. Duration</div>
        <div class="panel-body"><img src="../static/img/Duration vs Original Title .png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Description</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Actors vs. US Voter Count</div>
        <div class="panel-body"><img src="../static/img/US Voters vs Actors.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Description</div>
      </div>
    </div>
  </div>
</div><br>

</body>
</html>